.form {
	position: relative;
	height: 100%;
	font-size: 0.9em;
	padding-top: 2em;
	display: flex;
	flex-direction: column;

	.input {
		width: 100%;
		font-size: inherit;
		padding: 0.2em 0.3em;
		margin-bottom: 0.4em;
		border: 0;
		outline: 0;
		background-color: rgba(18, 18, 18, 0.75);
		color: white;
		border-bottom: 2px solid gray;
		z-index: 1;

		&:focus {
			box-shadow: none;
		}
	}

	& .form__buttons {
		margin-inline: -5px;
	}

	.message {
		position: absolute;
		top: 1.9em;
		left: -0.5em;
		width: calc(100% + 1em);
		text-align: justify;
		border-radius: 10px;
		background-color: white;
		color: black;
		font-size: 0.9rem;
		padding: 0.5rem 0.7em;
		box-shadow: 0 1px 30px black;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			left: calc(50% - 6px);
			top: -6px;
			width: 12px;
			height: 12px;
			background-color: white;
			transform: rotate(45deg);
		}
	}

	&.form--family {
		justify-content: center;
		gap: 1em;
	}

	&.form--character {
		justify-content: space-between;
		gap: 0.5em;

		& .dropzone {
			flex-grow: 1;
		}
	}

	&.form--capacity {
		padding: .5em;
	}
}

.form__buttons {
		display: flex;
		justify-content: center;
		z-index: 1;

		& .button {
			width: 100%;
		}
	}
