@use './../../../../styles/vars';

.capacity {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: flex-end;
	padding: 0.5em;
	gap: 0.5rem;

	&__contain {
		flex-grow: 1;
		text-align: left;
		text-indent: 1em;
		font-size: 0.9em;

		&__meter {
			
			width: 100%;
			height: 0.6em;
			border-radius: 0.3em;
			border: 1px solid #555555;
			border-top-color: #999999;
			background-color: whiteSmoke;
			box-shadow: 0 5px 5px -5px #333 inset;
			overflow: hidden;

			&__level {
				height: 100%;

				&.level--min {
					background-color: vars.$capacityMinLevelBgColor;
				}
				
				&.level--mid {
					background-color: vars.$capacityMidLevelBgColor;
				}

				&.level--max {
					background-color: vars.$capacityMaxLevelBgColor;
				}
			}
		}
	}

	.button.capacity__delete {
		display: none;
		padding: 0;
		margin: 0;
		border-radius: 1em;
		rotate: 45deg;
		font-size: 1.3em;
		width: 0.8em;
		height: 0.8em;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	&__description {
		display: none;
	}
}

.card--edited .button.capacity__delete {
	display: flex;
}
