.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
  animation-duration: 300ms;
  animation-name: fadein;

  &__content {
    max-width: 500px;
    padding-inline: 1em;

    & input {
      padding: .7em;
    }
  
    &__buttons {
      margin-top: .5em;
      display: flex;
      justify-content: center;
      gap: 2em;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
     opacity: 1;
  }
}