.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 9;
  opacity: 0;
  transition: opacity 300ms;

  &--hide {
    opacity: 0;
  }

  &--show {
    opacity: 1;
  }

  &__content {
    max-width: 500px;
    padding-inline: 1em;
  }
}