$baseBackground: radial-gradient(ellipse at 50% 100%, #3c0000 0%, rgb(25, 0, 0) 100%);
$primaryColor: white;
$goodColor: #47ad7c;
$badColor: #ba2e4a;
$neutralColor: #3578af;
$capacityMinLevelBgColor: rgba(207,105,105,1);
$capacityMidLevelBgColor: rgba(207,163,105,1);
$capacityMaxLevelBgColor: rgba(139,207,105,1);
