@use './_vars.scss';
@import './reset.css';

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

a {
	color: vars.$primaryColor;
}