@use '../../../styles/vars';

.main {
  padding: 1rem;
  color: vars.$primaryColor;
  text-align: center;

  h2 {
    font-size: 1.5rem;
    margin: 1rem 1rem 3rem 1rem;
  }

  p {
    margin-top: 1rem;
    padding: 1rem;
  }
}