.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;

	.card {
		position: relative;
		min-width: 200px;
		min-height: 300px;
		transform-origin: bottom left;
		transition: all 500ms;
		perspective: 1000px;

		&.before-fade-in {
			opacity: 0;
			transform: translateX(200px);
		}

		&.fade-in {
			animation: slide-in 500ms ease-out 0s 1 normal none;
		}

		&:hover {
			filter: brightness(1.2);
			transform: rotateZ(-2deg);
			cursor: pointer;
		}

		&__inner {
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.3);
			box-shadow: 0 1px 5px black;
			border-radius: 12px;
			transform-style: preserve-3d;
			transform-origin: center left;
			transition: all 500ms;

			&:hover {
				background-color: rgba(255, 255, 255, 0.6);
				box-shadow: 0 1px 40px black;
			}

			&.is-flipped {
				transform: translateX(100%) rotateY(-180deg);
			}

			&__face {
				position: absolute;
				top: 10px;
				bottom: 10px;
				left: 10px;
				right: 10px;
				border-radius: 5px;
				overflow: hidden;
				backface-visibility: hidden;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;

				&--front {
					background-color: lightcoral;
				}

				&--back {
					background-color: #121212;
					transform: rotateY(180deg);
				}

				&__title {
					display: block;
					color: inherit;
					font-weight: bold;
					font-size: 1.2rem;
					line-height: 1.2rem;
					padding: 0.7rem;
					margin-bottom: 0.5rem;
					background-color: rgba(0, 0, 0, 0.5);
				}

				a {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					text-decoration: none;
				}
			}
		}

		&.card--add {
			&.before-fade-in {
				opacity: 0;
				transform: translateX(0);
			}

			&.fade-in {
				opacity: 1;
			}

			&:hover {
				filter: none;
				transform: rotateZ(0);
				cursor: initial;

				.card__inner:not(.is-flipped) {
					border: 2px solid rgba(255, 255, 255, 0.7);
				}

				.card__inner__face--front {
					color: rgba(255, 255, 255, 0.9);
				}
			}

			.card__inner {
				border: 2px solid rgba(255, 255, 255, 0.3);
				background-color: transparent;
				box-shadow: none;

				&__face {
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					padding: 10px;
					display: flex;
					border-radius: inherit;
					flex-direction: column;
					justify-content: center;
					gap: 1rem;
					color: rgba(255, 255, 255, 0.5);

					&--front,
					&--back {
						transition: all 300ms;
					}

					&--front {
						background-color: transparent;

						span:first-child {
							font-size: 8rem;
						}

						span:last-child {
							font-weight: bold;
						}

						&:hover {
							cursor: pointer;
						}
					}

					&__close {
							font-size: 2rem;
							height: 1rem;
							width: 1rem;
							position: absolute;
							top: 5px;
							right: 5px;
							transform: rotate(45deg);
							display: flex;
							justify-content: center;
							align-items: center;
							cursor: pointer;
							z-index: 1;
							transition: all 200ms;

						&:hover {
							color: white;
						}

						&::after {
							content: '+';
							position: absolute;
						}
					}
				}
			}
		}
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		box-shadow: 0 1px 20px black;
		transform: translateX(200px);
	}
	100% {
		opacity: 1;
		box-shadow: 0 1px 5px black;
		transform: translateX(0);
	}
}
