.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	padding-inline: calc(100px + 4rem);
	transition: all 300ms ease-out;

	.card {
		position: relative;
		width: 200px;
		height: 300px;
		transform-origin: bottom left;
		perspective: 1000px;
		transition: all 200ms;

		&.before-fade-in {
			opacity: 0;
			transform: scale(1.2) translateX(200px);
		}

		&:not(.card--edited, .card--killing-progress, .card--killed):hover {
			filter: brightness(1.2);
			transform: rotateZ(-2deg);
			cursor: pointer;
		}

		&--edited {
			font-size: 1.25em;
			width: 250px;
			height: 375px;
			margin: -75px -25px 0 -25px;
			cursor: default;
			z-index: 2;
		}

		&--killed {
			width: 0;
			margin-inline: -1em;
		}

		&.card--manage {
			z-index: 1;

			&.before-fade-in {
				opacity: 0;
				transform: translateX(0);
			}

			&.fade-in {
				opacity: 1;
			}

			&:hover {
				filter: none;
				transform: rotateZ(0);
				cursor: initial;

				.card__inner:not(.is-flipped) {
					border-color: rgba(255, 255, 255, 0.7);
				}

				.card__inner__face--back {
					color: rgba(255, 255, 255, 0.9);
				}
			}

			.card__inner {
				border: 2px solid rgba(255, 255, 255, 0.3);
				background-color: transparent;
				box-shadow: none;

				&__face {
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					padding: 10px;
					display: flex;
					overflow: visible;
					border-radius: inherit;
					flex-direction: column;
					justify-content: center;
					gap: 1em;
					color: rgba(255, 255, 255, 0.5);

					&--front,
					&--back {
						transition: all 300ms;
					}

					&--back {
						background-color: transparent;

						span:first-child {
							font-size: 8em;
						}

						span:last-child {
							font-weight: bold;
						}

						&:hover {
							cursor: pointer;
						}
					}

					&__close {
						font-size: 2em;
						height: 1em;
						width: 1em;
						position: absolute;
						top: 5px;
						right: 5px;
						transform: rotate(45deg);
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						z-index: 1;
						transition: all 200ms;

						&:hover {
							color: white;
						}

						&::after {
							content: '+';
							position: absolute;
						}
					}
				}
			}
		}
	}
}

@keyframes slide-from-left {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes killing {
	0% {
		width: initial;
	}
	100% {
		width: 0;
	}
}
